.redText {
    color: red;
    font-weight: bold;
}

.bigText {
    font-size: 25px;
}

.highlight {
    background-color: yellow;
    padding: 5px;
    border-radius: 8px;
}
.blueText {
    color: blue;
    font-weight: bold;
}
.italicText {
    font-style: italic;
}
.monoText {
    font-family: "Courier New", monospace;
}
